@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

.marker {
    background-image: url("/assets/gambar/location-pin.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

/* Layar Mobile*/
@media (min-width: 280px) and (max-width: 766.98px) {
    /* START FOR MOBILE */

    /* .card {
        background-color: dodgerblue;
        color: white;
        padding: 1rem;
        height: 4rem;
    } */

    #profil {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 999;
        overflow: scroll;
    }

    #ekonomi {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 999;
        overflow: scroll;
    }

    #akses {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 999;
        overflow: scroll;
    }

    #kbli {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 999;
        overflow: scroll;
    }





    .grid_menu_apps {
        width: 100%;
        margin: 0 auto;
        display: grid;
        /* grid-gap: 1rem; */
        grid-template-columns: 33% 33% 33%;

        /* width: 100%;
        display: grid;
        grid-template-columns: 50% 50%; */
    }

    .kiri_konten_menu {
        padding-left: 10px;
        padding-top: 10px;
    }

    .rata_text_mobile {
        margin-left: -30px;
    }

    .form-control-range {
        width: 90% !important;
    }

    .mapboxgl-ctrl-group {
        position: absolute;
        border-radius: 4px;
        background: #fff;
        bottom: -55vh;
        right: 10px;
    }

    .menu_apps {
        width: 84% !important;
        position: absolute !important;
        top: -21.5rem !important;

    }

    .font_menu_apps {
        font-size: 17px;
        margin-top: 10px;
        /* font-weight: normal; */
    }


    .img_logo_menu_apps {
        width: 100%;
        height: 100px;
        max-height: 100px;
        padding-top: 10px;

    }

    .img_logo_menu_apps img {
        /* object-fit: cover; */
        width: 100%;
        height: 60%;
        padding-left: 25px;

    }

    .newmenu_logo {
        padding: 0 !important;
    }


    #popup {
        display: none;
        position: fixed;
        top: 0;
        /* left: 15%; */
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 99;
    }

    #popup iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }

    /* #popupdarkbg {
        position: fixed;
        z-index: 5;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, .75);
        display: none;
    } */

    .for_web {
        display: none;
    }

    .checkbox_left {
        margin-top: 5px;
    }

    .text_all {
        font-size: 16px;
        margin-left: 1%;
    }

    .text_all_kbli {
        font-size: 16px;
        margin-left: 1%;
    }

    /* ALL FONT PAGE INI */
    .text_all_permenu {
        font-size: 17px;
    }

    .margin_conten_permenu {
        margin-top: 25%;
    }

    .layout_checkbox_mobile {
        margin-left: 25px;
        margin-top: 8px;
        font-size: 17px;
    }

    .w_checkbox_dropdown_mobile {
        width: 570%;
    }

    .search_mobile {
        width: 100%;
        position: absolute;
        z-index: 99;
        margin-top: -80vh;
    }

    .dropdown-menu {
        position: absolute;
        margin-top: 96% !important;
        /* margin-left: -20%; */
        transform: none !important;
    }

    .PoiCollabse_mobile {
        margin-top: 20px;
        margin-left: 1%;
    }

    .PoiCollabse_konten_mobile {
        margin-right: 38px;
    }

    .text_all_mobile {
        margin-left: 30px;
    }

    .text_all_mobile_kbli {
        margin-left: -40px;
    }

    .text_all_mobile_poi {
        margin-left: 47px;
    }

    .text_all_mobile_permenu {
        margin-left: 10px;
    }

    .text_all_mobile_permenu_poi {
        margin-left: 4%;
    }

    .size_menu_mobile {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .margin_cari_kodelbli_mobile {
        margin-top: 4px;
    }

    .cari_kodekbli_mobile {
        margin-left: -50px;
        margin-bottom: 7px;
    }

    .cari_kodekbli_option_mobile {
        margin-left: -45px;
        margin-bottom: 7px;
        margin-right: 5px;
    }

    .kotak_sidebar {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        margin-left: 9%;
    }

    .kotak_sidebarr a {
        color: #007bff;
    }

    .text_all_kotak_sidebarr {
        padding: 0.5% 0 0 2%;
        font-size: 17px;
        color: #000;
    }

    .iconn_kotak_sidebar {
        color: #007bff;
    }

    .margin_new_menu {
        margin-left: -25%;
        font-size: 18px;
        padding-top: 2%;
    }

    .margin_new_menu_icon {
        padding-top: 4%;
    }

    .form-check-input {
        width: 17px;
        height: 17px;
    }

    .margin_chart_ekonomi_mobile {
        margin-left: 8px;
        margin-top: -4vh;
    }

    .margin_chartline_ekonomi_mobile {
        margin-left: -9vh;
    }

    /* SEARCH BARU */
    .tempat_search {
        /* width: 350px; */
        /* margin-top: -12%; */
        margin: 0.5rem 0.5rem 0 0.5rem;
    }

    .tempat_search .search_box {
        position: relative;
        /* width: 350px; */
        height: 40px !important;
    }

    .tempat_search .search_box .input {
        /* position: absolute; */
        top: 0;
        left: 0;
        width: 100%;
        height: 114%;
        padding: 10px 50px;
        border-radius: 3px;
        font-size: 15px;
    }

    .tempat_search .search_box .btn-search {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 100%;
        background: #007bff;
        z-index: 1;
        cursor: pointer;
    }

    .tempat_search.searchh .search_box .input {
        /* border-radius: 5px; */
        border: none;
    }

    .tempat_search.searchh .search_box .input[type="text"]:focus {
        outline: none;
    }

    .tempat_search .search_box .btn-search {
        width: 30px;
        height: 30px;
        top: 7px;
        right: 12px;
        border-radius: 3px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tempat_search.searchh .search_box .btn-search {
        border-radius: 25px;
    }

    .tempat_search.searchh .search_box .input {
        padding-right: 50px;
    }

    .menu {
        border-radius: 3px;
        display: flex;
        justify-content: left;
        position: absolute;
        z-index: 99;
    }

    /* .marginModal{
    margin-top: 30px;
  } */

    /* grid ekonomi */

    .container_grid {
        display: grid;
        grid-template-columns: 40% 35%;
        margin-left: 19%;
    }

    .container_grid .col_info {
        text-align: right;
    }

    /* END FOR MOBILE */

    .pembungkus {
        /* margin-top: 144%; */

        position: absolute;
        z-index: 99;
        max-width: 100vh !important;
        height: 30% !important;

        bottom: -0.1%;

        /* display: none; */
    }

    .dalam {
        height: 100% !important;
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 100vh;
    }

    .card-body {
        padding: 6px 0 0 0;
        margin-top: 7rem;
        border-radius: 10px;
    }

    /* .container_menu {
    margin-left: 0.5%;
    margin-top: 2%;
    margin-bottom: -2%;
  } */

    .container_menu {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }



    /* Hide scrollbar for Chrome, Safari and Opera */
    .dalam::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .dalam {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }

    /* Tombol HideShow */

    .btn_hide_side_bar {
        display: none;
    }

    .table td,
    .table th {
        padding-top: 0 !important;
    }

    .tombol_menu {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }

    .button_menu {
        margin-right: -25px;
    }

    .tombol_search:focus {
        outline: none;
        box-shadow: none;
    }

    .tombol_search::placeholder {
        font-size: 13px;
    }

    .color_card_body {
        background-color: #fdfffc;
    }

    .menu_active {
        margin-top: 7%;
        margin-left: 0.5px;
        margin-bottom: -3px;
    }

    .flex_container {
        margin-top: -5%;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        font-size: 1.2rem;
    }

    .flex_container li {
        margin: 0 0 0 15px;
        flex: 0 1 calc(30% - 8px);
    }

    .space_judul {
        margin-top: 11px;
        margin-left: -30px;
    }

    .space_text {
        margin-top: -8px;
        margin-left: -20px;
    }

    .space_input_text_judul {
        margin-top: 18px;
        margin-left: -20px;
    }

    .space_input_text {
        margin-top: 14px;
        margin-left: -20px;
    }

    .text_poi1 {
        margin-left: -8px;
    }

    .text_poi2 {
        background-color: #fdfffc;
        margin-top: -25px;
        margin-left: -15px;
    }

    .row_mid_judul {
        margin-left: -3px;
    }

    .row_mid_judul2 {
        margin-left: -50px;
        margin-top: -10px;
    }

    .row_mid_text {
        margin-left: -3px;
        margin-top: -13px;
    }

    textarea {
        border: none;
        outline: none;
        resize: none;
    }

    .HeadText {
        margin-left: 9px;
        font-size: 9pt;
        vertical-align: middle;
    }

    .detail_omzet {
        /* right: 0.5rem;
    bottom: 11rem;
    position: absolute;
    width: 60px;
    width: 110px;
    background-color: #fdfffc; */
        display: none;
    }

    .details_omzet {
        display: inline-block;
        border-radius: 20%;
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }

    .detail_jumlah {
        /* right: 0.5rem;
    bottom: 2.5rem;
    position: absolute;
    z-index: 999;
    width: 60px;
    width: 110px;
    background-color: #fdfffc; */
        display: none;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    /* Start Range */

    input[type="range"]::-moz-range-progress {
        background-color: #007bff;
        height: 7px;
    }

    .mapboxgl-ctrl-geocoder {
        display: none;
    }

    .wm-search__dropdown,
    .wm-search__selected {
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Rubik, sans-serif;
        width: 100%;
    }

    .wm-search__dropdown {
        background: #fff;
        max-height: 200px;
        overflow: auto;
        top: 37px !important;
        left: 1px;
    }

    .wm-search__dropdown {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: absolute;
        top: 100%;
        z-index: 99;
        width: 100%;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    }

    .wm-search__dropdown,
    .wm-search__selected {
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Rubik, sans-serif;
        width: 100%;
    }

    .wm-li-result {
        cursor: pointer;
        padding: 5px 10px;
        border: 1px #dcdcdc solid;
    }


}

/* Layar Ipad */
@media (min-width: 767px) and (max-width: 1024px) {
    /* START FOR MOBILE */

    .for_web {
        display: none;
    }

    .checkbox_left {
        margin-top: 5px;
    }

    .text_all {
        font-size: 16px;
        margin-left: 1%;
    }

    /* ALL FONT PAGE INI */
    .text_all_permenu {
        font-size: 17px;
    }

    .margin_conten_permenu {
        margin-top: 25%;
    }

    .layout_checkbox_mobile {
        margin-left: 25px;
        margin-top: 8px;
        font-size: 17px;
    }

    .w_checkbox_dropdown_mobile {
        width: 570%;
    }

    .search_mobile {
        width: 100%;
        position: absolute;
        z-index: 99;
        margin-top: -80vh;
    }

    .dropdown-menu {
        position: absolute;
        margin-top: 96% !important;
        margin-left: -20%;
        transform: none !important;
    }

    .PoiCollabse_mobile {
        margin-top: 20px;
        margin-left: 10%;
    }

    .PoiCollabse_konten_mobile {
        margin-right: 38px;
    }

    .text_all_mobile {
        margin-left: 35px;
    }

    .text_all_mobile_permenu {
        margin-left: 10px;
    }

    .text_all_mobile_permenu_poi {
        margin-left: 4%;
    }

    .size_menu_mobile {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .margin_cari_kodelbli_mobile {
        margin-top: 4px;
    }

    .cari_kodekbli_mobile {
        margin-left: -50px;
        margin-bottom: 7px;
    }

    .cari_kodekbli_option_mobile {
        margin-left: -40px;
        margin-bottom: 7px;
        margin-right: 25px;
    }

    .kotak_sidebar {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        margin-left: 9%;
    }

    .kotak_sidebarr a {
        color: #007bff;
    }

    .text_all_kotak_sidebarr {
        padding: 0.5% 0 0 2%;
        font-size: 17px;
        color: #000;
    }

    .iconn_kotak_sidebar {
        color: #007bff;
    }

    .margin_new_menu {
        margin-left: -30%;
        font-size: 18px;
        padding-top: 2%;
    }

    .margin_new_menu_icon {
        padding-top: 4%;
    }

    .form-check-input {
        width: 17px;
        height: 17px;
    }

    .margin_chart_ekonomi_mobile {
        margin-left: 8px;
        margin-top: -4vh;
    }

    .margin_chartline_ekonomi_mobile {
        margin-left: -9vh;
    }

    /* SEARCH BARU */
    .tempat_search {
        /* width: 350px; */
        /* margin-top: -12%; */
        margin: 0.5rem 0.5rem 0 0.5rem;
    }

    .tempat_search .search_box {
        position: relative;
        /* width: 350px; */
        height: 40px !important;
    }

    .tempat_search .search_box .input {
        /* position: absolute; */
        top: 0;
        left: 0;
        width: 100%;
        height: 114%;
        padding: 10px 50px;
        border-radius: 3px;
        font-size: 15px;
    }

    .tempat_search .search_box .btn-search {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 100%;
        background: #007bff;
        z-index: 1;
        cursor: pointer;
    }

    .tempat_search.searchh .search_box .input {
        /* border-radius: 5px; */
        border: none;
    }

    .tempat_search.searchh .search_box .input[type="text"]:focus {
        outline: none;
    }

    .tempat_search .search_box .btn-search {
        width: 30px;
        height: 30px;
        top: 7px;
        right: 12px;
        border-radius: 3px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tempat_search.searchh .search_box .btn-search {
        border-radius: 25px;
    }

    .tempat_search.searchh .search_box .input {
        padding-right: 50px;
    }

    .menu {
        border-radius: 3px;
        display: flex;
        justify-content: left;
        position: absolute;
        z-index: 99;
    }

    /* .marginModal{
    margin-top: 30px;
  } */

    /* grid ekonomi */

    .container_grid {
        display: grid;
        grid-template-columns: 40% 35%;
        margin-left: 19%;
    }

    .container_grid .col_info {
        text-align: right;
    }

    /* END FOR MOBILE */

    .pembungkus {
        /* margin-top: 144%; */

        position: absolute;
        z-index: 99;
        width: 100vh !important;
        height: 30% !important;

        bottom: -0.1%;

        /* display: none; */
    }

    .dalam {
        height: 100% !important;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100vh;
        margin-top: 33.5vh;
    }

    .card-body {
        padding: 6px 0 0 0;
        margin-top: 17vh;
        border-radius: 10px;
    }

    /* .container_menu {
    margin-left: 0.5%;
    margin-top: 2%;
    margin-bottom: -2%;
  } */

    /* Hide scrollbar for Chrome, Safari and Opera */
    .dalam::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .dalam {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }

    /* Tombol HideShow */

    .btn_hide_side_bar {
        display: none;
    }

    .table td,
    .table th {
        padding-top: 0 !important;
    }

    .tombol_menu {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }

    .button_menu {
        margin-right: -25px;
    }

    .tombol_search:focus {
        outline: none;
        box-shadow: none;
    }

    .tombol_search::placeholder {
        font-size: 13px;
    }

    .color_card_body {
        background-color: #fdfffc;
    }

    .menu_active {
        margin-top: 7%;
        margin-left: 0.5px;
        margin-bottom: -3px;
    }

    .flex_container {
        /* display: flex; */
        flex-flow: row wrap;
        text-align: center;
        font-size: 1.2rem;
    }

    .flex_container li {
        margin: 0;
        flex: 0 1 calc(30% - 8px);
    }

    .space_judul {
        margin-top: 11px;
        margin-left: -30px;
    }

    .space_text {
        margin-top: -8px;
        margin-left: -20px;
    }

    .space_input_text_judul {
        margin-top: 18px;
        margin-left: -20px;
    }

    .space_input_text {
        margin-top: 14px;
        margin-left: -20px;
    }

    .text_poi1 {
        margin-left: -8px;
    }

    .text_poi2 {
        background-color: #fdfffc;
        margin-top: -25px;
        margin-left: -15px;
    }

    .row_mid_judul {
        margin-left: -3px;
    }

    .row_mid_judul2 {
        margin-left: -20px;
        margin-top: -10px;
    }

    .row_mid_text {
        margin-left: -3px;
        margin-top: -13px;
    }

    textarea {
        border: none;
        outline: none;
        resize: none;
    }

    .HeadText {
        margin-left: 9px;
        font-size: 9pt;
        vertical-align: middle;
    }

    .detail_omzet {
        /* right: 0.5rem;
    bottom: 11rem;
    position: absolute;
    width: 60px;
    width: 110px;
    background-color: #fdfffc; */
        display: none;
    }

    .details_omzet {
        display: inline-block;
        border-radius: 20%;
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }

    .detail_jumlah {
        /* right: 0.5rem;
    bottom: 2.5rem;
    position: absolute;
    z-index: 999;
    width: 60px;
    width: 110px;
    background-color: #fdfffc; */
        display: none;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    /* Start Range */

    input[type="range"]::-moz-range-progress {
        background-color: #007bff;
        height: 7px;
    }

    .mapboxgl-ctrl-geocoder {
        display: none;
    }



    .wm-search__dropdown,
    .wm-search__selected {
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Rubik, sans-serif;
        width: 100%;
    }

    .wm-search__dropdown {
        background: #fff;
        max-height: 200px;
        overflow: auto;
        top: 37px !important;
        left: 1px;
    }

    .wm-search__dropdown {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: absolute;
        top: 100%;
        z-index: 99;
        width: 100%;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    }

    .wm-search__dropdown,
    .wm-search__selected {
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Rubik, sans-serif;
        width: 100%;
    }

    .wm-li-result {
        cursor: pointer;
        padding: 5px 10px;
        border: 1px #dcdcdc solid;
    }


}
